@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-slate-50 text-base;
}

.bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

.bg-gradient-conic {
  background-image: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

.text-primary {
  color: #2752f4;
}

.bg-primary {
  background-color: #2752f4;
}

.border-primary {
  border-color: #2752f4;
}
